{
  "presets": [
    "razzle/babel",
    [
      "env",
      {
        "useBuiltins": true,
        "targets": {
          "browsers": ["ie 11"]
        }
      }
    ]
  ],
  "plugins": ["emotion"]
}
