# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  web:
    docker:
      # specify the version you desire here
      - image: circleci/node:9

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo/web

    steps:
      - checkout:
          path: ~/repo
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn build
      - run: yarn test
      - run: yarn lint
  api:
    docker:
      - image: circleci/node:9
    working_directory: ~/repo/app/api
    steps:
      - checkout:
          path: ~/repo/app
      - attach_workspace:
          at: /tmp/workspace
      - restore_cache:
          keys:
          - api-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - api-dependencies-
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: api-dependencies-{{ checksum "package.json" }}
      - run: yarn test
      - run: yarn lint
      - persist_to_workspace:
          root: ~/repo
          paths:
            - app


  deploy_web:
    docker:
      - image: docker
    working_directory: ~/repo/web
    steps:
      - checkout:
          path: ~/repo
      - setup_remote_docker
      - run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run: docker build  -t "${DOCKER_REGISTRY}/${NAMESPACE}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}" -t "${DOCKER_REGISTRY}/${NAMESPACE}/${CIRCLE_PROJECT_REPONAME}:latest" .
      - run: docker push "${DOCKER_REGISTRY}/${NAMESPACE}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}"
      - run: docker push "${DOCKER_REGISTRY}/${NAMESPACE}/${CIRCLE_PROJECT_REPONAME}:latest"

  deploy_api:
    docker:
      - image: docker
    working_directory: /tmp/workspace/app/api
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run: docker build  -t "${DOCKER_REGISTRY}/${NAMESPACE}/ircc-rescheduler-api:${CIRCLE_SHA1}" -t "${DOCKER_REGISTRY}/${NAMESPACE}/ircc-rescheduler-api:latest" .
      - run: docker push "${DOCKER_REGISTRY}/${NAMESPACE}/ircc-rescheduler-api:${CIRCLE_SHA1}"
      - run: docker push "${DOCKER_REGISTRY}/${NAMESPACE}/ircc-rescheduler-api:latest"

  update_ecs:
    docker:
      - image: "cdssnc/ecs-cli:latest"
    steps:
      - checkout:
          path: ~/repo
      - setup_remote_docker
      - run:
         command: |
              cd deploy
              ecs-cli compose --file docker-compose.yml --ecs-params ecs-params.yml --cluster staging-ecs-cluster --project-name staging-ircc-rescheduler  service up --launch-type FARGATE --timeout 15
         name: "Update ECS Task and Perform Rolling Update"
    working_directory: ~/repo


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - web
      - update_ecs:
          filters:
            branches:
              only:
                - ecs_deploy
      - deploy_web:
          requires:
            - web
          filters:
            branches:
              only:
                - master
                - add-deploy
      - api
      - deploy_api:
          requires:
            - api
          filters:
            branches:
              only:
                - master
                - add-deploy
