# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  web:
    docker:
      # specify the version you desire here
      - image: cypress/base:10
        environment:
          ## this enables colors in the output
          TERM: xterm    

    working_directory: ~/repo/web

    steps:
      - checkout:
          path: ~/repo
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install --frozen-lockfile

      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - ~/.npm
            - ~/.cache
            - /home/circleci/.cache

      # run tests!
      - run: yarn build
      - run: yarn test
      - run: yarn lint
      - run:
          name: Running E2E tests 
          command: |
            yarn build 
            yarn start &  
            yarn cypress:run

  deploy_web:
    docker:
      - image: docker
    working_directory: ~/repo/web
    steps:
      - checkout:
          path: ~/repo
      - setup_remote_docker
      - run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run: docker build  -t "${DOCKER_REGISTRY}/${NAMESPACE}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}" -t "${DOCKER_REGISTRY}/${NAMESPACE}/${CIRCLE_PROJECT_REPONAME}:latest" .
      - run: docker push "${DOCKER_REGISTRY}/${NAMESPACE}/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_SHA1}"
      - run: docker push "${DOCKER_REGISTRY}/${NAMESPACE}/${CIRCLE_PROJECT_REPONAME}:latest"

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - web
      - deploy_web:
          requires:
            - web
          filters:
            branches:
              only:
                - master
                - add-deploy
