@font-face {
  font-family: 'sourceBold';
  src: url(/fonts/SourceSansPro-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sourceRegular';
  src: url(/fonts/SourceSansPro-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
